.grid {
    gap: 1rem;
    display: grid;
    justify-content: center;
    
    grid-template-columns: 100%;
}

@media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: minmax(200px, 400px) minmax(400px, 800px);
    }
}

.flex-row {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}


.edit-location-fab {
    right: 1rem;
    position: fixed;
    bottom: calc(24px + 1rem);
}